<footer class="__foot" fxLayout="row nowrap" fxLayoutGap="2rem">
  <div class="">Choose how Portal looks to you.</div>

  <div class="__themes" gdAuto="column" gdGap="1rem">
    <button class="__item" (click)="applyTheme('default')"></button>
    <button class="__item" (click)="applyTheme('ocean')"></button>
    <button class="__item" (click)="applyTheme('github')"></button>
  </div>

  <div>
    Create : Pashchuk Ilya
    <a class="__link" href=" https://clck.ru/ajFSB" target="_blank"></a>
  </div>
</footer>
