<footer class="__foot" fxLayout="row nowrap" fxLayoutGap="1rem">
  <div>Choose how Portal looks to you.</div>

  <div class="__themes" gdAuto="column" gdGap="0.5rem">
    <button class="__item" [class.--active]="isApplyTheme === 'default'" (click)="applyTheme('default')"></button>
    <button class="__item" [class.--active]="isApplyTheme === 'ocean'" (click)="applyTheme('ocean')"></button>
    <button class="__item" [class.--active]="isApplyTheme === 'github'" (click)="applyTheme('github')"></button>
  </div>

  <div>
    by <a class="__link" href="https://justtwic.art" target="_blank">justtwic</a>
  </div>
</footer>

<button class="__btn" (click)="showFooter()"></button>
