@import "core";


:host {
  display: grid;
  margin: 0 $containerOffset;
  padding: 0 0;

  height: 100%;

  overflow: hidden;

}

.__list {
  grid-auto-rows: max-content;

  //height: 100%;

  padding-bottom: $contentGutter;

  overflow: auto;
}
