@import "core";

:host {
  display: block;
  line-height: 1;

  &.--flex {
    .__logo {
      width: 100%;
      height: auto;
    }
  }
}

.__logo {
  max-width: rem(75);
  height: rem(16);
}

.__first {
  fill: $primary-c-light;
}

.__second {
  fill: $secondary-c;
}
