@import "core";

%dot-line {
  position: relative;
  z-index: 1;

  display: inline-flex;
  align-items: center;
  gap: rem(8);

  margin-left: rem(8);

  user-select: none;

  &:before {
    content: '·';
    font-weight: 900;
    line-height: 1;
  }
}

.__card {
  @extend %card;

  padding: $contentGutterX2 rem(37) $contentGutterX2 rem(42);

  &:before {
    position: absolute;
    top: rem(9);
    left: rem(9);
    bottom: rem(9);
    width: rem(4);

    content: '';
    border-radius: $elemRadiusSmall;
    background: var(--card-satus-color, $tertiary-c);
  }

  &.--warn {
    --card-satus-color: #{$warning-c} !important;
  }

  &.--error {
    --card-satus-color: #{$error-c} !important;
  }

  &.--success {
    --card-satus-color: #{$success-c} !important;
  }
}

.__name {
  margin: 0;

  font-size: rem(18);
  letter-spacing: rem(-0.21);
  font-weight: bold;

  mark {
    @extend %dot-line;
  }
}

.__sub {
  font-size: rem(15);
  font-weight: 500;
  color: #27272A;//$primary-c-lighten;
  letter-spacing: rem(-0.2);

  *:not(:first-of-type) {
    @extend %dot-line;
  }
}

.__due {
  font-size: rem(14);
  font-weight: 500;
  color: $primary-c-lighten;
  letter-spacing: rem(-0.5);
}

.__btn-more {
  padding: rem(8) 0 rem(8) 0;
  font-size: rem(14);

  color: $primary-c-lighten;
  line-height: 1;

  border: unset;
  background: unset;

  @include only-mouse {
    &:hover {
      color: $secondary-c;
    }
  }
}

.__dropdown {

  hr {
    margin: 0 0 0 auto;
    padding: 0;
    max-width: calc(100% - (#{$contentGutter + rem(12*2)}));

    background-color: #E8E9ED;
  }
}

.__dropdown-btn {
  display: flex;
  align-items: center;
  gap: rem(12);

  width: 100%;
  min-height: rem(38);
  padding: 0 $contentGutter;

  font-family: $font-family-primary !important;
  font-size: rem(12);
  border: unset;
  background: unset;

  &:before {
    font-family: $icon-font-family;
  }

  @include only-mouse {
    &:hover {
      background: #F7F7F9;
    }
  }
}
