<article class="__card" gdGap="0 2rem"
         gdAlignColumns="center center"
         gdColumns=" 1fr auto auto auto"
         [ngClass]="{'--warn': status === 'warn',
         '--error': status === 'error',
         '--success': status === 'success'
         }">

  <h2 class="__name" gdArea="1 / 1 /1" fxLayout="row">
    {{ name }}
    <mark>${{ price }}</mark>
  </h2>

  <mark class="__sub" gdArea="2 / 1 / 2">
    <span>#{{ id }}</span>
    <span>{{ date }}</span>
    <span>{{ sub }}</span>
  </mark>

  <mark class="__due"
        gdArea="3 / 1 span / 1"
        gdGridAlign="end center">{{due}}</mark>

  <div gdArea="3 / 1 span / 1"
       gdGridAlign="end center">
    <prt-status [additions]="additions"></prt-status>
  </div>

  <div class=""
       gdArea="4 / 1 span / 1"
       gdGridAlign="end center"
       ngbDropdown>
    <button class="__btn-more" type="button" ngbDropdownToggle>
      <i class="pri-ellipsis-v"></i>
    </button>

    <div class="__dropdown" ngbDropdownMenu>
      <button class="__dropdown-btn pri-edit" type="button">Edit</button>
      <button class="__dropdown-btn pri-paper-plane" type="button">Submit</button>
      <button class="__dropdown-btn pri-usd-circle" type="button">Receive Payment</button>
      <hr>
      <button class="__dropdown-btn pri-trash"> Archive</button>
    </div>
  </div>

</article>
