@import "core";

%dot-line {
  position: relative;
  z-index: 1;

  display: inline-flex;
  align-items: center;
  gap: rem(8);

  margin-left: rem(8);

  user-select: none;

  &:before {
    content: '·';
    font-weight: 900;
    line-height: 1;
  }
}

.__card {
  position: relative;

  padding: $contentGutterX2 $contentGutterX4;

  border-radius: $elemRadius;
  background: $light-c;
  box-shadow: $sh-card;

  transition: box-shadow 0.5s linear;

  cursor: pointer;

  &:before {
    position: absolute;
    top: rem(8);
    left: rem(8);
    bottom: rem(8);
    width: rem(4);

    content: '';
    border-radius: $elemRadiusSmall;
    background: var(--card-satus-color, $tertiary-c);
  }

  &.--warn {
    --card-satus-color: #{$warning-c} !important;
  }

  &.--error {
    --card-satus-color: #{$error-c} !important;
  }

  &.--success {
    --card-satus-color: #{$success-c} !important;
  }

  @include only-mouse {
    &:hover {
      z-index: $z-index-step;
      box-shadow: $sh-card-active;
      //transform: scale(1.02);
    }
  }
}

.__name {
  margin: 0;

  font-size: rem(18);
  letter-spacing: rem(-0.21);
  font-weight: bold;

  mark {
    @extend %dot-line;
  }
}

.__sub {
  font-size: rem(14);
  font-weight: 500;
  color: $primary-c-lighten;
  letter-spacing: rem(-0.5);

  *:not(:first-of-type) {
    @extend %dot-line;
  }
}

.__due {
  font-size: rem(14);
  font-weight: 500;
  color: $primary-c-lighten;
  letter-spacing: rem(-0.5);
}

.__btn-more {
  padding: rem(8) 0 rem(8) 0;
  font-size: rem(14);

  color: $primary-c-lighten;
  line-height: 1;

  border: unset;
  background: unset;

  @include only-mouse {
    &:hover {
      color: $secondary-c;
    }
  }
}
