html {
  font-family: $font-family-primary;
  font-size: $base-font-size-color;
  font-weight: normal;
  text-align: left;
  line-height: normal;
  letter-spacing: normal;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  //@include content-scale($contentScale);

  @include min-wide(phones) {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    will-change: scroll-position;
  }

  @extend %scroll-small;
}

body {
  width: 100vw;
  min-height: 100vh;

  margin: 0;

  background-color: $back-color ;

  opacity: 0;
  animation: smooth-opacity 2s .6s 1 forwards cubic-bezier(.17, .67, .83, .67);
}

body, .root {
  display: flex;
  flex-flow: column;
  flex: 1 1;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
}

img {
  width: 100%;

  object-fit: contain;
  object-position: center;
}

a {
  color: var(--link-color, $link-color);

  cursor: pointer;
  user-select: none;

  text-decoration: none;

  @include only-mouse {
    &:hover {
      color: var(--link-color-hover, $link-hover-color);
    }
  }

  &, &:active {
    text-decoration: none;
  }
}

a,
button,
select {
  text-decoration: none;

  outline: none;

  font-size: rem(16);
  color: currentColor;
  transition: all 0.2s ease-in-out;

  cursor: pointer;

  &:focus {
    outline: none;
  }
}

a,
label {
  -webkit-tap-highlight-color: transparent;
}

mark {
  padding: 0;

  color: inherit;
  background-color: transparent;
}

b,
strong {
  font-weight: 700;
}

figure {
  margin: 0;
}

input {
  appearance: none;
}

.container {
  @if $customContainer {
    width: 100%;
    max-width: var(--container-limit, auto);

    padding-right: var(--container-gutter, 0);
    padding-left: var(--container-gutter, 0);
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-height: 420px) {
    @include phones-fit-max-evn(16px);
  }
}

[routerLink] {
  &:focus,
  &:active {
    outline: none;
  }
}

//h1, .title {
//  font-family: $font-family-primary;
//  font-style: normal;
//  font-weight: bold;
//  font-size: rem(48);
//  line-height: 106%;
//}
