:root {
  //* root sizes
  --container-limit: #{$containerLimit};
  --container-gutter: #{rem(20)};

  //--header-hgt: #{rem(78)};
  --footer-height: #{rem(38)};

  //* root themes
  @include generate-themes($themes-map);

  //@include use-theme-name() {}

  //* root medias
}

