//* Map size devices for media query
$wideScreens: (
  phonesSm: 340px,
  phones: 480px,
  phonesLg: 640px,
  tablet: 768px,
  laptop: 992px,
  desktopSm: 1024px,
  desktopMd: 1170px,
  desktop: 1280px,
  notebook: 1366px,
  notebookLg: 1600px,
  fullHD: 1800px,
  retina: 2100px,
  retina4k: 3656px,
  retina5k: 5100px,
  retina8k: 7600px
);


$contentScale: (
  //(
  //    direction: 'max-width',
  //    wide: screens(phonesSm),
  //    scale: 92%
  //),
);

$customContainer: true;
$containerLimit: rem(screens(desktopMd)) + rem(32);
$containerOffset: calc(var(--container-gutter) * -1);
$contentGutter: rem(16) !default;
$contentGutterX2: rem(20) !default;
$contentGutterX3: rem(32) !default;
$contentGutterX4: rem(40) !default;
$sectionSpacer: var(--section-spacer, rem(70)) !default;

$contentSizeExtraSmall: rem(472) !default;
$contentSizeSmall: rem(568) !default;

$multiplier: 1.25 !default;

$elemRadius: rem(5) !default;
$elemRadiusSmall: rem(3) !default;

$themes-map: (
  default:(
    primary: #262626,
    primary-light: #747474,
    primary-lighten: #939393,
    secondary-light:#ff8659,
    secondary: #DA5726,
    secondary-dark: #a73605,
    tertiary: #8E9197,
    tertiary-light: #E4E6EB,
    tertiary-lighten: #F5F5F5,
    light: #ffffff,
    dark: #000000,
    base: var(--cl-primary),
    border: var(--cl-tertiary-light),
    error: #D50F06,
    warning: #FFD213,
    success: #42AD65
  ),
  ocean:(
    primary: #3673c9,
    primary-light: #134ea1,
    primary-lighten: #134ea1,
    secondary: #1de9b6,
    secondary-dark: #25bf9b,
    tertiary: #f38dad,
    tertiary-light: #EAEBEF,
    tertiary-lighten: #e4eaf3,
    light: #ffffff,
    dark: #222f34,
    base: var(--cl-primary),
    border: var(--cl-tertiary-light),
    error: #d42a29,
    warning: #cea860,
    success: #00FFBC
  ),
  github:(
    primary: #22272e,
    primary-light: #373e47,
    primary-lighten: #373e47,
    secondary: #99c8ff,
    secondary-dark: #4e8ee2,
    tertiary: #e34c26,
    tertiary-light: #d66e54,
    tertiary-lighten: #c9d1d9,
    light: #c9d1d9,
    dark: #0e1117,
    base: #c9d1d9,
    border: #adbac7,
    error: #ff7b72,
    warning: #f1e05a,
    success: #3eb950
  )
);

$primary-c: var(--cl-primary);
$primary-c-light: var(--cl-primary-light);
$primary-c-lighten: var(--cl-primary-lighten);

$secondary-c: var(--cl-secondary);
$secondary-c-dark: var(--cl-secondary-dark);
$secondary-c-light: var(--cl-secondary-light);

$tertiary-c: var(--cl-tertiary);
$tertiary-c-light: var(--cl-tertiary-light);
$tertiary-c-lighten: var(--cl-tertiary-lighten);

$light-c: var(--cl-light);
$dark-c: var(--cl-dark);

$back-color: var(--body-color, $tertiary-c-lighten);

$error-c: var(--cl-error);
$warning-c: var(--cl-warning);
$success-c: var(--cl-success);

$base-color: var(--cl-base);
$border-color: var(--cl-border);
$border-color04: var(--cl-border-04);

$border-pop-window: 1px solid rgba(0, 0, 0, 0.04);

//* transitions && animations
$transition-default: 0.3s linear !default;
$transition-border: border-color $transition-default !default;
$transition-shadow: box-shadow $transition-default !default;

$transition-start-delay: 1s;
$transition-start-duration: 2s;

$base-font-color: $secondary-c !default;
$base-font-size-color: 16px !default;

// * images source
$assets-path: '/assets/img/' !default;

// * fonts
$font-path: '/assets/fonts' !default;
$font-inter-path: $font-path + '/Inter/' !default;
$font-family-primary: 'Open Sans', sans-serif;

$icon-font-family: 'portal-icons' !default;
$icon-font-prefix: 'pri-';
$icon-font-path: $font-path + '/#{$icon-font-family}' !default;

$pti-users-group: "\e900";
$pti-calendar: "\e901";
$pti-cart: "\e902";
$pti-catalog: "\e903";
$pti-check-round: "\e904";
$pti-check-square: "\e905";
$pti-check: "\e906";
$pti-chevron-down: "\e907";
$pti-chevron-up: "\e908";
$pti-close: "\e909";
$pti-edit: "\e90a";
$pti-ellipsis-h-alt: "\e90b";
$pti-ellipsis-h: "\e90c";
$pti-ellipsis-v-alt: "\e90d";
$pti-ellipsis-v: "\e90e";
$pti-email-open: "\e90f";
$pti-email: "\e910";
$pti-minus: "\e911";
$pti-paper-plane: "\e912";
$pti-phone: "\e913";
$pti-plus: "\e914";
$pti-proposals: "\e915";
$pti-search: "\e916";
$pti-sort-amount-down: "\e917";
$pti-sort-amount-up: "\e918";
$pti-trash: "\e919";
$pti-usd-circle: "\e91a";

$icons-font-map: (
  users-group: $pti-users-group,
  calendar: $pti-calendar,
  cart: $pti-cart,
  catalog: $pti-catalog,
  check-round: $pti-check-round,
  check-square: $pti-check-square,
  check: $pti-check,
  chevron-down: $pti-chevron-down,
  chevron-up: $pti-chevron-up,
  close: $pti-close,
  edit: $pti-edit,
  ellipsis-h-alt: $pti-ellipsis-h-alt,
  ellipsis-h: $pti-ellipsis-h,
  ellipsis-v-alt: $pti-ellipsis-v-alt,
  ellipsis-v: $pti-ellipsis-v,
  email-open: $pti-email-open,
  email: $pti-email,
  minus: $pti-minus,
  paper-plane: $pti-paper-plane,
  phone: $pti-phone,
  plus: $pti-plus,
  proposals: $pti-proposals,
  search: $pti-search,
  sort-amount-down: $pti-sort-amount-down,
  sort-amount-up: $pti-sort-amount-up,
  trash: $pti-trash,
  usd-circle: $pti-usd-circle,
);

// * shadows
$sh-card: 0 rem(1) rem(3) 0 rgba(0, 0, 0, 0.05);
$sh-card-active: 0 rem(7) rem(18) 0 rgba(0, 0, 0, 0.16);
$sh-card-second: 0 rem(2) rem(10) 0 rgba(0, 0, 0, 0.11);

//* links
$link-color: currentColor !default;
$link-hover-color: $secondary-c !default;

//* Scrolls
$scroll-size: var(--scroll-size, rem(5));
$scroll-border-radius: 0;
$scroll-thumb-color: $secondary-c;
$scroll-thumb-hover-color: $secondary-c-light;
$scroll-track-color: $tertiary-c-lighten;
$scroll-track-line: inset 0 0 0 0px $scroll-track-color;

//* Cursor
$cursor-size: rem(30);
$cursor-color: $secondary-c;
$cursor-color-active: $primary-c-light;
//* links
$link-color: currentColor !default;
$link-hover-color: var(--cl-yellow-orange-s) !default;

//* z-index
$z-index-step: 10 !default;
$z-index: (
  start: 10,
  middle: 50,
  header: 100,
  modal: 1000
) !default;

//* ngBootsrap
$dropdown-padding-x: 0 !default;
$dropdown-padding-y: rem(8) !default;

$dropdown-border-color: rgba(0, 0, 0, 0.04);
$dropdown-border-radius: $elemRadius;
$dropdown-border-width: rem(1);

$dropdown-bg: $light-c;
$dropdown-color: #595A5E;

$dropdown-box-shadow: $sh-card-second;
$enable-caret: false;
