//* Map size devices for media query
$wideScreens: (
  phonesSm: 340px,
  phones: 480px,
  phonesLg: 640px,
  tablet: 768px,
  laptop: 992px,
  desktopSm: 1024px,
  desktopMd: 1170px,
  desktop: 1280px,
  notebook: 1366px,
  notebookLg: 1600px,
  fullHD: 1800px,
  retina: 2100px,
  retina4k: 3656px,
  retina5k: 5100px,
  retina8k: 7600px
);


$contentScale: (
  //(
  //    direction: 'max-width',
  //    wide: screens(phonesSm),
  //    scale: 92%
  //),
);

$customContainer: true;
$containerLimit: rem(screens(desktopMd)) + rem(32);
$containerOffset: calc(var(--container-gutter) * -1);
$contentGutter: rem(16) !default;
$contentGutterX2: rem(24) !default;
$contentGutterX3: rem(48) !default;
$sectionSpacer: var(--section-spacer, rem(70)) !default;

$contentSizeExtraSmall: rem(472) !default;
$contentSizeSmall: rem(568) !default;

$multiplier: 1.25 !default;

$elemRadius: rem(6) !default;
$elemRadiusNormal: rem(10) !default;
$elemRadiusSmall: rem(4) !default;

$themes-map: (
  default:(
    primary: #262626,
    primary-light: #747474,
    primary-lighten: #939393,
    secondary: #DA5726,
    secondary-dark: #a73605,
    tertiary: #8F9196,
    tertiary-light: #E4E6EA,
    light: #F5F5F5,
    dark: #000000,
    base: var(--cl-primary),
    border: var(--cl-tertiary-light),
    error: #61AA6C,
    warning: #F9D24B,
    success: #61AA6C
  )
);

$primary-c: var(--cl-primary);
$primary-c-dark: var(--cl-primary-dark);
$secondary-c: var(--cl-secondary);
$secondary-c-dark: var(--cl-secondary-dark);
$tertiary-c: var(--cl-tertiary);

$light-c: var(--cl-light);

$dark-c: var(--cl-dark);

$error-c: var(--cl-error);
$warning-c: var(--cl-warning);
$success-c: var(--cl-success);

$base-color: var(--cl-base);
$border-color: var(--cl-border);
$border-color04: var(--cl-border-04);

//* transitions && animations
$transition-default: 0.3s linear !default;
$transition-border: border-color $transition-default !default;
$transition-shadow: box-shadow $transition-default !default;

$transition-start-delay: 1s;
$transition-start-duration: 2s;

$base-font-color: $secondary-c !default;
$base-font-size-color: 16px !default;

// * images source
$assets-path: '/assets/img/' !default;

// * fonts
$font-path: '/assets/fonts' !default;
$font-inter-path: $font-path + '/Inter/' !default;
$font-family-primary: 'Open Sans', sans-serif;

$icon-font-family: 'portal-icons' !default;
$icon-font-prefix: 'pri-';
$icon-font-path: $font-path + '/#{$icon-font-family}' !default;

$icons-font-map: (
);

// * shadows
$sh-card: 0 rem(3) rem(13) rgba(38, 38, 38, 0.32);

//* links
$link-color: currentColor !default;
$link-hover-color: $secondary-c !default;

//* Scrolls
$scroll-size: var(--scroll-size, rem(5));
$scroll-border-radius: 0;
$scroll-thumb-color: $secondary-c;
$scroll-thumb-hover-color: $secondary-c-dark;
$scroll-track-color: $light-c;
$scroll-track-line: inset 0 0 0 0px $scroll-track-color;

//* Cursor
$cursor-size: rem(30);
$cursor-color: $secondary-c;
$cursor-color-active: $primary-c-dark;
//* links
$link-color: currentColor !default;
$link-hover-color: var(--cl-yellow-orange-s) !default;
