@import "core";

$aside-width: var(--aside-right-width, rem(254));

:host {
  width: 100%;
  height: 100%;

  flex: 1 1;
  max-height: 100vh;
  overflow: hidden;
}

.__content {
  z-index: 1;
}

.__right {
  width: 100%;
  max-width: calc(#{$aside-width} + (var(--container-gutter) * 2));

  padding: rem(20);

  overflow: hidden;

  span {

  }
}

@include min-wide(notebook) {
  :host {
    --aside-right-width: 17.666vw;
  }
}
