@import "core";

:host {
  --aside-nenu-spacer-x: #{0};
}

.__logo {
  margin: 0 auto;
  padding: 0 rem(8);
}

.__wrap {
  height: 100%;
  min-width: var(--aside-nenu-width, rem(120));

  padding: rem(28) var(--aside-nenu-spacer-x);

  color: $primary-c-light;

  background: $primary-c;
}

.__link {
  position: relative;

  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: rem(13);

  color: currentColor;
  font-size: rem(14);

  padding: 0 var(--aside-nenu-spacer-x);

  line-height: 1;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    height: 100%;
    width: var(--aside-nenu-link-line-width, 0);

    content: '';

    background: currentColor;
    transition: width $transition-default;
  }

  @include insert-icons {
    font-size: rem(26);
  }

  .pri-proposals {
    transform: translateX(rem(2));
  }

  &.--active {
    color: $secondary-c;

    pointer-events: none;
  }

  span {
    display: var(--aside-nenu-label-display, initial);
  }

  @include only-mouse {
    &:hover {
      &:not(.--active) {
        --aside-nenu-link-line-width: #{rem(5)};

        color: $secondary-c;
      }
    }
  }
}

@include max-wide(desktopMd) {
  :host {
    --aside-nenu-spacer-x: #{0};
  }
}

@include max-wide(laptop) {
  :host {
    --aside-nenu-spacer-x: #{0};
    --aside-nenu-label-display: none;
    --aside-nenu-width: #{rem(80)};
  }
}
