<article class="__wrap" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="2.625rem">
  <div class="__logo">
    <prt-logo class="--flex" [smallLogo]="isSmallLogo"></prt-logo>
  </div>

  <nav gdGap="2.5rem" fxFlexAlign="stretch">
    <a href class="__link" routerLink="/catalog" routerLinkActive="--active">
      <i class="pri-catalog"></i>
      <span>Catalog</span>
    </a>
    <a href class="__link" routerLink="/proposals" routerLinkActive="--active">
      <i class="pri-proposals"></i>
      <span>Proposals</span>
    </a>
    <a href class="__link" routerLink="/peoples" routerLinkActive="--active">
      <i class="pri-users-group"></i>
      <span>People</span>
    </a>
    <a href class="__link" routerLink="/payments" routerLinkActive="--active">
      <i class="pri-usd-circle"></i>
      <span>Payments</span>
    </a>
    <a href class="__link" routerLink="/orders" routerLinkActive="--active">
      <i class="pri-cart"></i>
      <span>Orders</span>
    </a>

    <a href class="__link" >
      <i class="pri-ellipsis-h-alt"></i>
      <span>More</span>
    </a>
  </nav>
</article>
