<article class="__wrap" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="2rem">
  <prt-logo></prt-logo>

  <nav gdGap="2rem">
    <a href class="__link" routerLink="/catalog" routerLinkActive="--active">
      <i class="pri-catalog"></i>
      <span>Catalog</span>
    </a>
    <a href class="__link" routerLink="/proposals" routerLinkActive="--active">
      <i class="pri-proposals"></i>
      <span>Proposals</span>
    </a>
    <a href class="__link" routerLink="/people" routerLinkActive="--active">
      <i class="pri-users-group"></i>
      <span>People</span>
    </a>
    <a href class="__link" routerLink="/payments" routerLinkActive="--active">
      <i class="pri-usd-circle"></i>
      <span>Payments</span>
    </a>
    <a href class="__link" routerLink="/orders" routerLinkActive="--active">
      <i class="pri-cart"></i>
      <span>Orders</span>
    </a>

    <a href class="__link" >
      <i class="pri-ellipse-h-alt"></i>
      <span>More</span>
    </a>
  </nav>
</article>
