<article class="__wrap" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="2rem">
  <prt-logo></prt-logo>

  <nav gdGap="2rem">
    <a href class="__link" routerLink="/catalog" routerLinkActive="--active">
      <i class="bi bi-box-seam"></i>
      <span>Catalog</span>
    </a>
    <a href class="__link" routerLink="/proposals" routerLinkActive="--active">
      <i class="bi bi-pencil-square"></i>
      <span>Proposals</span>
    </a>
    <a href class="__link" routerLink="/people" routerLinkActive="--active">
      <i class="bi bi-people"></i>
      <span>People</span>
    </a>
    <a href class="__link" routerLink="/payments" routerLinkActive="--active">
      <i class="bi bi-credit-card-2-back"></i>

      <span>Payments</span>
    </a>
    <a href class="__link" routerLink="/orders" routerLinkActive="--active">
      <i class="bi bi-cart3"></i>
      <span>Orders</span>
    </a>

    <a href class="__link" >
      <i class="bi bi-three-dots"></i>
      <span>More</span>
    </a>
  </nav>
</article>
