@import "core";

:host {
  position: relative;

  display: flex;
  flex-flow: column;

  letter-spacing: rem(-0.31);

  height: 100%;

  overflow: auto;

  @include scroll-small;
}

.__head {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: $z-index-step;

  padding: rem(10) 0;

  font-size: rem(15);
  font-weight: 600;

  color: $primary-c-light;

  background: $back-color;
  border-bottom: rem(1) solid $border-color;

  overflow: hidden;
}

.__item {
  padding: $contentGutter 0;

  &:not(:last-of-type) {
    border-bottom: rem(1) solid $border-color;
  }
}

.__name {
  display: inline-flex;

  margin: 0 rem(8) rem(10) 0;

  font-size: rem(15);
  font-weight: 500;
  color: $primary-c;

  opacity: .8;
}

.__date {
  font-size: rem(13);
  font-weight: 400;
  color: $primary-c-light;
  opacity: .5;
}

.__info {
  margin: 0;

  font-size: rem(11);
  letter-spacing: rem(-0.80);
  font-weight: 700;
  color: $primary-c-light;
}

.__mar {
  color: $secondary-c;
  font-weight: 500;
  letter-spacing: rem(-0.70);
}
