<header class="__wrap container">
  <article class="__top" fxLayout="row nowrap" fxLayoutAlign="space-between center" fxLayoutGap="1.5rem">
    <h1 class="__title">Payment Request</h1>

    <div class="__search">
      <prt-search></prt-search>
    </div>
  </article>

  <article>
    <nav class="__tabs" fxLayout="row">
      <button class="__tab --active">All</button>
      <button class="__tab">Outstanding</button>
      <button class="__tab">Paid</button>
      <button class="__tab">More</button>
    </nav>

    <div class="__detail" fxLayout="row nowrap" fxLayoutAlign="space-between center" fxLayoutGap="1.5rem">
      <div>
        <prt-tag *ngFor="let statusItem of statusList">status</prt-tag>
      </div>


      <div fxLayout="row nowrap" fxLayoutAlign="space-between center" fxLayoutGap="1.5rem">

        <mark class="__sort-count">1,880 Proposals</mark>

        <button class="__sort-btn" (click)="sorted()">
          <i class="bi"
             [ngClass]="{'bi-filter-left': filteredType ==='up',
             'bi-filter-right': filteredType ==='down'}">
          </i>
          <span> Sort By</span>
        </button>
      </div>
    </div>
  </article>
</header>
